@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
  background-color: #161616;
  color: #ddd;
  padding: 58px;
  font-family: poppins;
}
h1{
color: #eef;
text-align: center;
font-family:poppins;
}
.group{
  background: #335;
  width: 300px;
  margin: 20px  auto 28px;
  display: grid;
  grid-template-columns: 100px 80px;
  border-radius: 15px;
  padding: 0 5px;
 justify-content: space-between;

}
input,select{
  background: none;
  border: 0;
  
  color: #fff;
}
input{
  padding-left: 5px;
  width: 200px;
}
select{
  padding: 15px;
 
}
option{
  background-color: #335;
}
.time{
  width: 200px;
}